{% extends "base.html" %}

{% block content %}

<h1 style="margin-top:3em;">Create A Post!</h1>

<form action="/homefeed" method='POST' id="upload-podcast">
    <input type="hidden" name="MAX_FILE_SIZE" value="10000000" />
    Choose a file to upload: <input name="uploadedfile" type="file" onchange="readURL2(this);"/><br />
    <img visibility=hidden id="file2" src="#" alt='image' class='hidden'/>
    <input type="submit" value="Upload File" />
</form>

<input type='file' onchange="readURL(this);"  id="upload-photo"/>
    <img visibility=hidden id="blah" src="#" alt='image' class='hidden'/>

<script src="scripts/create.js"></script>

<link rel="stylesheet" href="styles/create.css">

{% endblock content %}