<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../assets/styles/homefeed.css">

  <title>User's Homefeed</title>
</head>

<body>
  <nav class="fixed-top">
    <div class="navbar fixed-top">
      <div id="logo-and-search">
        <img class="navbar-logo" src="../assets/images/So-tion-logo-pic.png" href="#" alt="So-tion logo" />
        <input type="search" class="form-control" id="search-input" placeholder="Search..." aria-label="Search for..."
          autocomplete="off" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false"
          aria-owns="algolia-autocomplete-listbox-0" dir="auto" style="position: relative; vertical-align: top;">
      </div>
      <div id="right-navbar-images">
        <img class="profile-icon-navbar" src="../assets/images/profile-icon.png" href="#" alt="profile icon button" />
        <img class="home-navbar" src="../assets/images/home.jpg" href="#" alt="Home button" />
        <img class="gear-navbar" src="../assets/images/gear.png" href="#" alt="Gear button" />
      </div>
    </div>
    <div id="navbar-divider"></div>
  </nav>

  <!--Eventually this will be ~~**Dynamically Generated**~~ Content-->
  <div class="post">
    <div class="content">
      <div class="pic-and-username">
        <img class="profile-icon" src="../assets/images/profile-icon.png" alt="Profile picture">
        <p class="username">username</p>
      </div>
      <div class="content-and-comments">
        <img src="../assets/images/fake-content.jpeg" alt="image">
        <div class="comments">

        </div>
      </div>
    </div>
  </div>

  <div class="post">
    <div class="content">
      <div class="pic-and-username">
        <img class="profile-icon" src="../assets/images/profile-icon.png" alt="Profile picture">
        <p class="username">username</p>
      </div>
      <div class="content-and-comments">
        <audio src="../assets/images/podcastRecoding.m4a" type="audio/x-m4a" controls autoplay> 
        <div class="comments">
        </div>
      </div>
    </div>
  </div>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="../assets/scripts/main.js"></script>
</body>

</html>