{% extends "base.html" %}

{% block content %}

<h1 style="margin-top:3em;">Settings</h1>
<button onclick="darkmode()">Dark Mode</button>

<script src="../scripts/main.js"></script>
    
<link rel="stylesheet" href="../styles/settings.css" />

<a href="{{url_for('logout')}}"> <input id="logout-button" type="submit" value="Logout" class="btn btn-block btn-primary"></a>
<a href="{{url_for('editprofile')}}"><input id="edit-profile" type="submit" value="Edit Profile" class="btn btn-block btn-primary"></a>
{% endblock content %}