.container {
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    grid-template-rows: repeat(10, 50px);
    grid-template-columns: repeat(5, 1fr 2fr);
}

.template_1 {
    text-align: center; 
    margin-top: 3em; 
    background-image: url('ImageLocation');
    background-size: cover; 
    height:480px; 
    padding-top:80px;

}

.template_2 {
    margin-right: 2em; 
    text-align: right; 
    margin-top: 3em; background-image: url('ImageLocation');background-size: cover; height:480px; padding-top:80px;">

}

.template_3 {
    
}

.template_4 {
    
}

.buttons { 
    background-color: #66afa5;
    border:solid;
    border-width: 2px;
    border-color: #3D524c;
    border-radius: 35px;
    color:white;
    width: 6em;
}

