.container {
    display: grid;
    column-gap: 5rem;
    row-gap: 3rem;
    /* grid-template-rows: repeat(10, 50px); */
    /* grid-template-columns: repeat(5, 1fr 2fr); */
}

.template_1, .post {
    margin-right: 2em; 
    text-align: right; 
    margin-top: 3em;
    background-image: url('ImageLocation');
    background-size: cover; 
    height:380px; 
    padding-top:80px;
    grid-column: span 1;

}

.template_2 , .post {
    text-align: left; 
    margin-top: 3em; 
    background-image: url('ImageLocation');
    background-size: cover; 
    height:480px; 
    padding-top:80px;
    grid-column: span 1;
}

.template_3 , .post {
    text-align: center; 
    margin-top: 3em; 
    background-image: url('ImageLocation');
    background-size: cover; 
    padding-top:80px;
}

.template_4 {
    text-align: center;
    margin-top: 3em; 
    background-image: url('ImageLocation');
    background-size: cover; 
    height:480px; 
    padding-top:80px; 
    grid-column: span 3;
}

.buttons { 
    background-color: #66afa5;
    border:solid;
    border-width: 2px;
    border-color: #3D524c;
    border-radius: 35px;
    color:white;
    width: 6em;
}

