.buttons { 
    background-color: #66afa5;
    border:solid;
    border-width: 2px;
    border-color: #3D524c;
    border-radius: 35px;
    color:white;
    width: fit-content;
}

#settings-div {
    margin-left: 2em;
}

#set-buttons {
    display:flex;
    flex-direction: column;
    row-gap: 2em;
}