.buttons { 
    background-color: #66afa5;
    border:solid;
    border-width: 2px;
    border-color: #3D524c;
    border-radius: 35px;
    color:white;
    width: 6em;
}

#settings-div {
    margin-left: 2em;
}